<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- jQuery -->
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    @RenderSection("head", required: false)

    <style>
        #bodyPage {
            width: 100%;
            min-height: 100%;
            height: auto !important;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }

        img.bg {
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 1;
            display: none;
        }
    </style>
</head>
<body>
    <div id="bodyPage">
        <img src="http://bimgs.plmeizi.com/images/bing/2018/WindCaveBison_ZH-CN9135908894_1920x1080.jpg" class="bg">
        <img src="http://bimgs.plmeizi.com/images/bing/2018/YosemiteFog_ZH-CN8174427528_1920x1080.jpg" class="bg" />
        <img src="http://bimgs.plmeizi.com/images/bing/2018/RubyBeach_ZH-CN9208446641_1920x1080.jpg" class="bg">
        <img src="http://bimgs.plmeizi.com/images/bing/2018/MaryLouWilliams_ZH-CN11937645356_1920x1080.jpg" class="bg">
        <img src="http://bimgs.plmeizi.com/images/bing/2018/SONC_ZH-CN9822965309_1920x1080.jpg" class="bg">
    </div>
    @RenderBody()

    <!--轮播图-->
    <script type="text/javascript" src="~/Content/js/fullplay.js"></script>
    <script>
        $("#bodyPage").fullImages({
            ImgWidth: 1920,//图片的宽度
            ImgHeight: 980,//图片的高度
            autoplay: 3500,//幻灯片自动播放时间
            fadeTime: 1500,//图片淡入时间
        });
    </script>
</body>
</html>