
@{
    ViewBag.Title = "Log";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@section head {

    <style type="text/css">
        .top1 .top1Left {
            margin: 0px auto;
            width: 600px;
            /*height: 470px;*/
            border: solid 1px #978f94;
        }

            .top1 .top1Left ul li {
                margin-top: 10px;
                height: 50px;
                line-height: 3;
                border-bottom: dotted 2px #3897f0;
                /*border: solid 1px blue;*/
            }

                .top1 .top1Left ul li label {
                    margin-left: 20px;
                }
    </style>

}
<div class="myIndex">
    <div class="center">
        <div class="centerTop">
            <div class="top1">
                <div class="top1Left">
                    <ul>
                        <li style="height: 160px;border:none;">
                            <img id="profilePic" style="border-radius:50%;margin-left: 65px;" src="https://scontent-hkg3-2.cdninstagram.com/vp/761993dc007e86f9968a9f938e80e70a/5B697B1A/t51.2885-19/s150x150/25005602_1904421042944210_7172550441782214656_n.jpg">
                            <div style="float: right;width: 55%;height: 100%;line-height: 4;">
                                <h1 style="font-size: x-large;">账号历史操作记录</h1>
                                <h2>123456条</h2>
                            </div>
                        </li>
                        <li>
                            <label>Sun, 22 Apr 2018 16:33:48 GMT 在xxx地区登陆账号 IP:168.168.168.168</label>
                        </li>
                        <li>
                            <label>Sun, 22 Apr 2018 16:33:48 GMT 在xxx地区登陆账号 IP:168.168.168.168</label>
                        </li>
                        <li>
                            <label>Sun, 22 Apr 2018 16:33:48 GMT 在xxx地区登陆账号 IP:168.168.168.168</label>
                        </li>
                        <li>
                            <label>Sun, 22 Apr 2018 16:33:48 GMT 在xxx地区登陆账号 IP:168.168.168.168</label>
                        </li>
                        <li>
                            <label>Sun, 22 Apr 2018 16:33:48 GMT 在xxx地区登陆账号 IP:168.168.168.168</label>
                        </li>
                        <li>
                            <label>Sun, 22 Apr 2018 16:33:48 GMT 在xxx地区登陆账号 IP:168.168.168.168</label>
                        </li>
                        <li>
                            <label>Sun, 22 Apr 2018 16:33:48 GMT 在xxx地区登陆账号 IP:168.168.168.168</label>
                        </li>
                        <li>
                            <label>Sun, 22 Apr 2018 16:33:48 GMT 在xxx地区登陆账号 IP:168.168.168.168</label>
                        </li>
                        <li>
                            <label>Sun, 22 Apr 2018 16:33:48 GMT 在xxx地区登陆账号 IP:168.168.168.168</label>
                        </li>
                        <li>
                            <label>Sun, 22 Apr 2018 16:33:48 GMT 在xxx地区登陆账号 IP:168.168.168.168</label>
                        </li>
                        <li>
                            <label>Sun, 22 Apr 2018 16:33:48 GMT 在xxx地区登陆账号 IP:168.168.168.168</label>
                        </li>
                        <li>
                            <label>Sun, 22 Apr 2018 16:33:48 GMT 在xxx地区登陆账号 IP:168.168.168.168</label>
                        </li>
                        <li>
                            <label>Sun, 22 Apr 2018 16:33:48 GMT 在xxx地区登陆账号 IP:168.168.168.168</label>
                        </li>
                        <li>
                            <label>Sun, 22 Apr 2018 16:33:48 GMT 在xxx地区登陆账号 IP:168.168.168.168</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


